.card_container{
    border:0.5px dotted rgb(63, 16, 63);
    border-radius: 10px ;
    width:230px;
    height: 200px;
    display: flex;
    flex-direction: column;
    scale: 1;
    transition: all 0.2s ease-in-out;
    box-shadow:  10px 10px 10px -10px rgb(38, 57, 77) ;
}
.card_container:hover{
    scale: 1.05;
    cursor: pointer;
}

.logo{
    /* border: 2px dotted blue; */
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo img{
    width: 90px;
}
.name{
    /* border: 2px dotted green; */
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-size: 35px;
    color: lightgray;

}